.flex{
    display: flex;
}

.items-center {

    align-items: center;
}

.justify-between{

    justify-content: space-between;
}

.btn{
    padding: 0.8rem 3rem;
    border: 1.5px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .3s ease;
}

.btn-primary{
    background: #161616;
    border:solid 1px #fff;
    box-shadow: 0px 0px 10px #000;

}

.btn-primary:hover{

    background: transparent;
    border-color: #161616;
    color: #161616;
}

.btn-secondary {
    background: transparent;
    color: #eece1a;
    border-color: #eece1a;
}

.btn-secondary:hover{
    background:  #eece1a;
    color: #fff;
}

.flex-1{
    flex: 1;
}

.justify-center{
    justify-content: center;
}